<div layout="row" ng-controller="RootnavCtrl">

    <md-sidenav flex class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar layout="row" class="md-whiteframe-z1">
            <h1>Mah MD App</h1>
        </md-toolbar>

        <md-list>
            <md-list-item ng-repeat="item in menu">
                <md-button ng-click="selectTab(item)">
                    <md-icon md-svg-icon="{{item.icon}}" class="avatar"></md-icon>
                    {{item.title}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>


    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="toggleSideNav()" aria-label="Show Menu">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>{{currentTabTitle}}</h1>
        </md-toolbar>

        <md-content flex id="content">




            <div ng-view=""></div>




        </md-content>
    </div>

</div>